---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';




const pageTitle = "About";
const pageHeader= "About Page";

const identity = {
	firstName: "Zahit",
	lastName: "Acar",
	country: "Turkey",
	occupation: "Civil Engineer",
	hobbies : ["Videography","Reading","swimming", "Fishing"]
}

const skills = ["HTML","CSS","JavaScript","Premier Pro"]

const happy = true;
const finished = false;
const goal = 3;

let skillColor = "navy";
let fontWeight = "bold";
let fontTransform = "uppercase"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1{
				font-size: 4rem;
				
			}
		</style>
		
	</head>
	<body>
        <Header />
		<h1>{pageHeader}</h1>
        
		<section>
			<p>Here are some facts about me: </p>
			{happy && 
			<ul>
				{skills.map((skill) => <li class="skill">{skill}</li>)}	
			</ul>}
		</section>
		<Footer />
	</body>
</html>
