---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Page</title>
	</head>
	<body>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
        </nav>
		<h1>About Page</h1>
        <article>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, eaque?</article>
        <section>somethin here</section>
	</body>
</html>
